<div ng-controller = "testCtrl2 as Ctrl">
   <form id="testForm" name="testForm" novalidate ng-submit="ctrl.testButton2()" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': regForm.deptNo.$touched && regForm.deptNo.$invalid }">
            <label for="name">Name:</label>
            <input type="text" id="christianName" name="christianName"
                class="form-control"
                ng-model="Ctrl.testInput2.christianName"
                required>
            <div class="help-block" ng-messages="regForm.christianName.$error" ng-if="regForm.christainName.$touched">
                <p ng-message="required">Christian Name</p>
            </div>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': regForm.deptName.$touched && regForm.deptName.$invalid }">
            <label for="deptName">Address:</label>
            <input type="text" id="address" name="address"
                class="form-control"
                ng-model="Ctrl.testInput2.address"
                ng-minlength="2" required>
            <div class="help-block" ng-messages="regForm.address.$error" ng-if="regForm.address.$touched">
                <p ng-message="minlength">address too short</p>
                <p ng-message="required">address is required</p>
                
            </div>
        </div>
</div>