
<div ng-controller = "testCtrl1 as Ctrl">
   <form id="testForm" name="testForm" novalidate ng-submit="ctrl.register()" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': regForm.deptNo.$touched && regForm.deptNo.$invalid }">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"
                class="form-control"
                ng-model="Ctrl.testInput1.name"
                required>
            <div class="help-block" ng-messages="regForm.name.$error" ng-if="regForm.name.$touched">
                <p ng-message="required">Name</p>
            </div>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': regForm.deptName.$touched && regForm.deptName.$invalid }">
            <label for="deptName">Age:</label>
            <input type="text" id="age" name="age"
                class="form-control"
                ng-model="Ctrl.testInput1.age"
                ng-minlength="2" required>
            <div class="help-block" ng-messages="regForm.age.$error" ng-if="regForm.age.$touched">
                <p ng-message="minlength">Department Name Too Short</p>
                <p ng-message="required">Department Name is required</p>
                
            </div>
        </div>
</div>